.card {    
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin: 20px;
    margin-right: 0;
    padding: 12px;
}
.vacancy {
    text-align: left;
}
.city-days {
    display: flex;        
    align-items: bottom;
}

.image-wrapper {   
    width: 90px;
    height: 90px; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image {
    border-radius: 4px;
    width: 100%;
}

.link {
    text-decoration: none;
    color: #334680;
}

.fulltime {
    border: 1px solid #334680;    
    border-radius: 4px;
    width: 68px;
    height: 26px;
    padding: 6px 8px;    
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
}

.developer {    
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 12px;
    font-weight: 400;
}

.company {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 8px
}

.city-days {
    color: #B9BDCF;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

.globe-americas {
    color: rgb(185, 189, 207);
    width: 15px;
    height: 15px;
    margin: 5px;
}

.clock {
    color: rgb(185, 189, 207);    
    width: 15px;
    height: 15px;
    margin: 5px;
}

.icon-loc-wrapper {
    display: flex;
    align-items: center;
}

.icon-time-wrapper {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 900px) {
    .card {
        margin: 10px 0;
    }

    .image-wrapper {
        margin-bottom: 26px;
    }

    .vacancy {
        margin-bottom: 26px;
    }

    .city-days {
        display: flex;
    }
}

@media only screen and (max-width: 370px) {
    .image-wrapper {   
        width: 70px;
        height: 70px; 
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
}

