.checkbox-wrapper {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.checkbox-box {
  margin: 10px;
  cursor: pointer;
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.checbox-text {
  color: rgb(51, 70, 128);
  font-size: px;
  font-weight: 500;
  margin: 0;
  line-height: 21px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}
