.checkbox-wrapper {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.checkbox-box {
    margin: 10px;
    cursor: pointer;
}

.checbox-text {
    color: rgb(51, 70, 128);
    font-size:px;
    font-weight: 500; 
    margin: 0;
    line-height: 21px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}