.search {
  width: 70%;
  background-color: rgb(255, 255, 255);
  padding: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.01);
}

.input {
  width: 100%;
  margin-right: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  border: none;
  color: rgb(185, 189, 207);

  &:focus {
    border: none;
    outline: none;
  }

  &::placeholder {
    color: rgb(185, 189, 207);
    font-size: 12px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
  }
}

.suitcase {
    color: rgb(185, 189, 207);
    margin: 10px;
}
