.app {
  background-color: white;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.search-wrapper {
  width: 100%;
  height: 138px;
  background: url(./assets/search.png);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-about {    
  background-color: rgb(137, 217, 241);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin: 20px;
  padding: 12px
}
.vacancy {
  text-align: left;
}
.city-days {
  display: flex;
  justify-content: space-between;    
}

.image-wrapper {    
  overflow: hidden; 
  display: flex;
  height: 100%;
}

.image {
  border-radius: 6px;
}

.about-footer {
  text-align: center;
}
